In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv(r"D:\Data Science\Projects\Python\RFM Analysis\sales_data.csv")

In [3]:
df.head()

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,12/31/2017,5/31/2018,6/14/2018,6/19/2018,USD,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,Online,WARE-NMK1003,12/31/2017,5/31/2018,6/22/2018,7/2/2018,USD,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,Distributor,WARE-UHY1004,12/31/2017,5/31/2018,6/21/2018,7/1/2018,USD,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,Wholesale,WARE-NMK1003,12/31/2017,5/31/2018,6/2/2018,6/7/2018,USD,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,Distributor,WARE-NMK1003,4/10/2018,5/31/2018,6/16/2018,6/26/2018,USD,22,49,111,26,8,0.100,1822.4,1476.144

In [4]:
df.describe()

,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
count,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000
mean,14.384307,25.457014,183.850081,23.771743,4.525341,0.114394,2284.536504,1431.911054
std,7.986086,14.414883,105.903946,13.526545,2.312631,0.085570,1673.096364,1112.413043
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.050000,167.500000,68.675000
25%,8.000000,13.000000,91.000000,12.000000,3.000000,0.050000,1031.800000,606.115500
50%,14.000000,25.000000,183.000000,24.000000,5.000000,0.075000,1849.200000,1080.576000
75%,21.000000,38.000000,276.000000,36.000000,7.000000,0.150000,3611.300000,2040.250500
max,28.000000,50.000000,367.000000,47.000000,8.000000,0.400000,6566.000000,5498.556000

In [6]:
df.dtypes

OrderNumber          object
Sales Channel        object
WarehouseCode        object
ProcuredDate         object
OrderDate            object
ShipDate             object
DeliveryDate         object
CurrencyCode         object
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Price          float64
Unit Cost           float64
dtype: object

In [8]:
#Convert Order Date to datetime

df["OrderDate"] = pd.to_datetime(df["OrderDate"])

In [16]:
#Converting Customer ID into string format to be used for group by later

df["_CustomerID"] = df["_CustomerID"].apply(str)

In [17]:
#The datatypes have been successfully changed

df.dtypes

OrderNumber                 object
Sales Channel               object
WarehouseCode               object
ProcuredDate                object
OrderDate           datetime64[ns]
ShipDate                    object
DeliveryDate                object
CurrencyCode                object
_SalesTeamID                 int64
_CustomerID                 object
_StoreID                     int64
_ProductID                   int64
Order Quantity               int64
Discount Applied           float64
Unit Price                 float64
Unit Cost                  float64
dtype: object

In [18]:
#Calculating the revenue 


df['Revenue'] = ((1-df["Discount Applied"])*df['Unit Price']) * df['Order Quantity']

In [19]:
df.head()

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Revenue
0,SO - 000101,In-Store,WARE-UHY1004,12/31/2017,2018-05-31,6/14/2018,6/19/2018,USD,6,15,259,12,5,0.075,1963.1,1001.181,9079.3375
1,SO - 000102,Online,WARE-NMK1003,12/31/2017,2018-05-31,6/22/2018,7/2/2018,USD,14,20,196,27,3,0.075,3939.6,3348.660,10932.3900
2,SO - 000103,Distributor,WARE-UHY1004,12/31/2017,2018-05-31,6/21/2018,7/1/2018,USD,21,16,213,16,1,0.050,1775.5,781.220,1686.7250
3,SO - 000104,Wholesale,WARE-NMK1003,12/31/2017,2018-05-31,6/2/2018,6/7/2018,USD,28,48,107,23,8,0.075,2324.9,1464.687,17204.2600
4,SO - 000105,Distributor,WARE-NMK1003,4/10/2018,2018-05-31,6/16/2018,6/26/2018,USD,22,49,111,26,8,0.100,1822.4,1476.144,13121.2800

In [27]:
# Seperating the dataframe to only include columns that we want

columns = ["OrderNumber","OrderDate","_CustomerID","Revenue"]
sales_comp = df[columns]
sales_comp.head()

   OrderNumber  OrderDate _CustomerID     Revenue
0  SO - 000101 2018-05-31          15   9079.3375
1  SO - 000102 2018-05-31          20  10932.3900
2  SO - 000103 2018-05-31          16   1686.7250
3  SO - 000104 2018-05-31          48  17204.2600
4  SO - 000105 2018-05-31          49  13121.2800

In [26]:
# Checking the size of the dataframe
sales_comp.shape

(7991, 4)

In [30]:
# min(sales_comp['OrderDate']) = Timestamp('2018-05-31 00:00:00')

# max (sales_comp['OrderDate']) = Timestamp('2020-12-30 00:00:00')


# Using the latest date as 1st Jan 2021 to avoid big numbers in calculations of recency value


today_date = pd.to_datetime('2021-01-01')

In [33]:
# Calculating the recency, frequency and monetary values


rfm_dataset = sales_comp.groupby('_CustomerID').agg({
            "OrderDate": lambda v: (today_date - v.max()).days,
            "OrderNumber": 'count',
            "Revenue": 'sum'})


rfm_dataset

             OrderDate  OrderNumber       Revenue
_CustomerID
1                    9          152  1.175021e+06
10                  15          158  1.580759e+06
11                   6          178  1.658925e+06
12                   3          210  2.012877e+06
13                   4          171  1.673218e+06
14                   5          157  1.262275e+06
15                   4          142  1.346356e+06
16                   3          135  1.373728e+06
17                   6          175  1.770662e+06
18                   6          186  1.631553e+06
19                   3          165  1.541426e+06
2                    9          135  1.179320e+06
20                   9          167  1.366848e+06
21                   3          164  1.642715e+06
22                   4          140  1.345980e+06
23                  12          164  1.583602e+06
24                  23          151  1.250650e+06
25                   5          162  1.550515e+06
26                  11          153  1.353089e+06
27                   3          144  1.191194e+06
28                   8          145  1.238905e+06
29                   2          179  1.841005e+06
3                   10          181  1.628232e+06
30                   4          159  1.478470e+06
31                   4          152  1.286680e+06
32                   2          173  1.595805e+06
33                   4          156  1.693782e+06
34                  15          176  1.712640e+06
35                  10          145  1.364657e+06
36                   4          156  1.462839e+06
37                  11          152  1.454027e+06
38                   8          150  1.242310e+06
39                   4          176  1.610879e+06
4                    5          167  1.569468e+06
40                   9          150  1.451234e+06
41                   2          161  1.348607e+06
42                   2          161  1.445514e+06
43                   5          151  1.354668e+06
44                   3          156  1.336980e+06
45                   5          156  1.442208e+06
46                   4          157  1.337536e+06
47                   8          168  1.419584e+06
48                  10          172  1.462124e+06
49                   7          152  1.332987e+06
5                   30          159  1.426164e+06
50                  16          163  1.530633e+06
6                    4          143  1.347558e+06
7                    3          153  1.388690e+06
8                    5          142  1.230549e+06
9                    8          171  1.617932e+06

In [35]:
#Checking the size of rfm dataset

rfm_dataset.shape

(50, 3)

In [40]:
#Checking the count of unique customers and hereby verifying the shape of rfm dataset

len(df['_CustomerID'].unique())

50

In [42]:
#Renaming the columns of rfm_dataset

rfm_dataset = rfm_dataset.rename(
            columns={
                "OrderDate":'recency',
                "OrderNumber":'frequency',
                "Revenue":'monetary'})

rfm_dataset

             recency  frequency      monetary
_CustomerID
1                  9        152  1.175021e+06
10                15        158  1.580759e+06
11                 6        178  1.658925e+06
12                 3        210  2.012877e+06
13                 4        171  1.673218e+06
14                 5        157  1.262275e+06
15                 4        142  1.346356e+06
16                 3        135  1.373728e+06
17                 6        175  1.770662e+06
18                 6        186  1.631553e+06
19                 3        165  1.541426e+06
2                  9        135  1.179320e+06
20                 9        167  1.366848e+06
21                 3        164  1.642715e+06
22                 4        140  1.345980e+06
23                12        164  1.583602e+06
24                23        151  1.250650e+06
25                 5        162  1.550515e+06
26                11        153  1.353089e+06
27                 3        144  1.191194e+06
28                 8        145  1.238905e+06
29                 2        179  1.841005e+06
3                 10        181  1.628232e+06
30                 4        159  1.478470e+06
31                 4        152  1.286680e+06
32                 2        173  1.595805e+06
33                 4        156  1.693782e+06
34                15        176  1.712640e+06
35                10        145  1.364657e+06
36                 4        156  1.462839e+06
37                11        152  1.454027e+06
38                 8        150  1.242310e+06
39                 4        176  1.610879e+06
4                  5        167  1.569468e+06
40                 9        150  1.451234e+06
41                 2        161  1.348607e+06
42                 2        161  1.445514e+06
43                 5        151  1.354668e+06
44                 3        156  1.336980e+06
45                 5        156  1.442208e+06
46                 4        157  1.337536e+06
47                 8        168  1.419584e+06
48                10        172  1.462124e+06
49                 7        152  1.332987e+06
5                 30        159  1.426164e+06
50                16        163  1.530633e+06
6                  4        143  1.347558e+06
7                  3        153  1.388690e+06
8                  5        142  1.230549e+06
9                  8        171  1.617932e+06

In [43]:
r = pd.qcut(rfm_dataset['recency'],q=5,labels=range(5,0,-1))
f = pd.qcut(rfm_dataset['frequency'],q=5,labels=range(1,6))
m = pd.qcut(rfm_dataset['monetary'],q=5,labels=range(1,6))


#For r we use reverse list because lower the number of days in recency, better for the business because it shows the customers latest purchase

In [44]:
rfm = rfm_dataset.assign(R=r.values,F=f.values,M=m.values)
rfm

             recency  frequency      monetary  R  F  M
_CustomerID
1                  9        152  1.175021e+06  2  2  1
10                15        158  1.580759e+06  1  3  4
11                 6        178  1.658925e+06  3  5  5
12                 3        210  2.012877e+06  5  5  5
13                 4        171  1.673218e+06  4  4  5
14                 5        157  1.262275e+06  3  3  1
15                 4        142  1.346356e+06  4  1  2
16                 3        135  1.373728e+06  5  1  3
17                 6        175  1.770662e+06  3  5  5
18                 6        186  1.631553e+06  3  5  5
19                 3        165  1.541426e+06  5  4  4
2                  9        135  1.179320e+06  2  1  1
20                 9        167  1.366848e+06  2  4  2
21                 3        164  1.642715e+06  5  4  5
22                 4        140  1.345980e+06  4  1  2
23                12        164  1.583602e+06  1  4  4
24                23        151  1.250650e+06  1  2  1
25                 5        162  1.550515e+06  3  4  4
26                11        153  1.353089e+06  1  2  2
27                 3        144  1.191194e+06  5  1  1
28                 8        145  1.238905e+06  2  1  1
29                 2        179  1.841005e+06  5  5  5
3                 10        181  1.628232e+06  2  5  5
30                 4        159  1.478470e+06  4  3  4
31                 4        152  1.286680e+06  4  2  1
32                 2        173  1.595805e+06  5  5  4
33                 4        156  1.693782e+06  4  2  5
34                15        176  1.712640e+06  1  5  5
35                10        145  1.364657e+06  2  1  2
36                 4        156  1.462839e+06  4  2  3
37                11        152  1.454027e+06  1  2  3
38                 8        150  1.242310e+06  2  1  1
39                 4        176  1.610879e+06  4  5  4
4                  5        167  1.569468e+06  3  4  4
40                 9        150  1.451234e+06  2  1  3
41                 2        161  1.348607e+06  5  3  2
42                 2        161  1.445514e+06  5  3  3
43                 5        151  1.354668e+06  3  2  2
44                 3        156  1.336980e+06  5  2  2
45                 5        156  1.442208e+06  3  2  3
46                 4        157  1.337536e+06  4  3  2
47                 8        168  1.419584e+06  2  4  3
48                10        172  1.462124e+06  2  5  3
49                 7        152  1.332987e+06  2  2  1
5                 30        159  1.426164e+06  1  3  3
50                16        163  1.530633e+06  1  4  4
6                  4        143  1.347558e+06  4  1  2
7                  3        153  1.388690e+06  5  2  3
8                  5        142  1.230549e+06  3  1  1
9                  8        171  1.617932e+06  2  4  4

In [45]:
rfm['rfm_group'] = rfm[['R','F','M']].apply(lambda v: '-'.join(v.astype(str)),axis=1)
rfm['rfm_score'] =  rfm[['R','F','M']].sum(axis=1)

rfm

             recency  frequency      monetary  R  F  M rfm_group  rfm_score
_CustomerID
1                  9        152  1.175021e+06  2  2  1     2-2-1          5
10                15        158  1.580759e+06  1  3  4     1-3-4          8
11                 6        178  1.658925e+06  3  5  5     3-5-5         13
12                 3        210  2.012877e+06  5  5  5     5-5-5         15
13                 4        171  1.673218e+06  4  4  5     4-4-5         13
14                 5        157  1.262275e+06  3  3  1     3-3-1          7
15                 4        142  1.346356e+06  4  1  2     4-1-2          7
16                 3        135  1.373728e+06  5  1  3     5-1-3          9
17                 6        175  1.770662e+06  3  5  5     3-5-5         13
18                 6        186  1.631553e+06  3  5  5     3-5-5         13
19                 3        165  1.541426e+06  5  4  4     5-4-4         13
2                  9        135  1.179320e+06  2  1  1     2-1-1          4
20                 9        167  1.366848e+06  2  4  2     2-4-2          8
21                 3        164  1.642715e+06  5  4  5     5-4-5         14
22                 4        140  1.345980e+06  4  1  2     4-1-2          7
23                12        164  1.583602e+06  1  4  4     1-4-4          9
24                23        151  1.250650e+06  1  2  1     1-2-1          4
25                 5        162  1.550515e+06  3  4  4     3-4-4         11
26                11        153  1.353089e+06  1  2  2     1-2-2          5
27                 3        144  1.191194e+06  5  1  1     5-1-1          7
28                 8        145  1.238905e+06  2  1  1     2-1-1          4
29                 2        179  1.841005e+06  5  5  5     5-5-5         15
3                 10        181  1.628232e+06  2  5  5     2-5-5         12
30                 4        159  1.478470e+06  4  3  4     4-3-4         11
31                 4        152  1.286680e+06  4  2  1     4-2-1          7
32                 2        173  1.595805e+06  5  5  4     5-5-4         14
33                 4        156  1.693782e+06  4  2  5     4-2-5         11
34                15        176  1.712640e+06  1  5  5     1-5-5         11
35                10        145  1.364657e+06  2  1  2     2-1-2          5
36                 4        156  1.462839e+06  4  2  3     4-2-3          9
37                11        152  1.454027e+06  1  2  3     1-2-3          6
38                 8        150  1.242310e+06  2  1  1     2-1-1          4
39                 4        176  1.610879e+06  4  5  4     4-5-4         13
4                  5        167  1.569468e+06  3  4  4     3-4-4         11
40                 9        150  1.451234e+06  2  1  3     2-1-3          6
41                 2        161  1.348607e+06  5  3  2     5-3-2         10
42                 2        161  1.445514e+06  5  3  3     5-3-3         11
43                 5        151  1.354668e+06  3  2  2     3-2-2          7
44                 3        156  1.336980e+06  5  2  2     5-2-2          9
45                 5        156  1.442208e+06  3  2  3     3-2-3          8
46                 4        157  1.337536e+06  4  3  2     4-3-2          9
47                 8        168  1.419584e+06  2  4  3     2-4-3          9
48                10        172  1.462124e+06  2  5  3     2-5-3         10
49                 7        152  1.332987e+06  2  2  1     2-2-1          5
5                 30        159  1.426164e+06  1  3  3     1-3-3          7
50                16        163  1.530633e+06  1  4  4     1-4-4          9
6                  4        143  1.347558e+06  4  1  2     4-1-2          7
7                  3        153  1.388690e+06  5  2  3     5-2-3         10
8                  5        142  1.230549e+06  3  1  1     3-1-1          5
9                  8        171  1.617932e+06  2  4  4     2-4-4         10

In [46]:
#Finding out core customers

rfm[rfm['rfm_score'] == 15]

             recency  frequency     monetary  R  F  M rfm_group  rfm_score
_CustomerID
12                 3        210  2012877.315  5  5  5     5-5-5         15
29                 2        179  1841004.560  5  5  5     5-5-5         15

In [53]:
#Loyal Customers


rfm[rfm['F'] >= 3]
#len(rfm[rfm['F'] >= 3])

             recency  frequency      monetary  R  F  M rfm_group  rfm_score
_CustomerID
10                15        158  1.580759e+06  1  3  4     1-3-4          8
11                 6        178  1.658925e+06  3  5  5     3-5-5         13
12                 3        210  2.012877e+06  5  5  5     5-5-5         15
13                 4        171  1.673218e+06  4  4  5     4-4-5         13
14                 5        157  1.262275e+06  3  3  1     3-3-1          7
17                 6        175  1.770662e+06  3  5  5     3-5-5         13
18                 6        186  1.631553e+06  3  5  5     3-5-5         13
19                 3        165  1.541426e+06  5  4  4     5-4-4         13
20                 9        167  1.366848e+06  2  4  2     2-4-2          8
21                 3        164  1.642715e+06  5  4  5     5-4-5         14
23                12        164  1.583602e+06  1  4  4     1-4-4          9
25                 5        162  1.550515e+06  3  4  4     3-4-4         11
29                 2        179  1.841005e+06  5  5  5     5-5-5         15
3                 10        181  1.628232e+06  2  5  5     2-5-5         12
30                 4        159  1.478470e+06  4  3  4     4-3-4         11
32                 2        173  1.595805e+06  5  5  4     5-5-4         14
34                15        176  1.712640e+06  1  5  5     1-5-5         11
39                 4        176  1.610879e+06  4  5  4     4-5-4         13
4                  5        167  1.569468e+06  3  4  4     3-4-4         11
41                 2        161  1.348607e+06  5  3  2     5-3-2         10
42                 2        161  1.445514e+06  5  3  3     5-3-3         11
46                 4        157  1.337536e+06  4  3  2     4-3-2          9
47                 8        168  1.419584e+06  2  4  3     2-4-3          9
48                10        172  1.462124e+06  2  5  3     2-5-3         10
5                 30        159  1.426164e+06  1  3  3     1-3-3          7
50                16        163  1.530633e+06  1  4  4     1-4-4          9
9                  8        171  1.617932e+06  2  4  4     2-4-4         10

In [55]:
#Whales


rfm[rfm['M'] >= 3]
#len(rfm[rfm['M'] >= 3])

30

In [65]:
#Customers at risk


rfm[(rfm['R']==2) & (rfm['F'] >= 3) & (rfm['M'] >= 3)]
#len(rfm[(rfm['R']==2) & (rfm['F'] >= 3) & (rfm['M'] >= 3)])

             recency  frequency      monetary  R  F  M rfm_group  rfm_score
_CustomerID
3                 10        181  1.628232e+06  2  5  5     2-5-5         12
47                 8        168  1.419584e+06  2  4  3     2-4-3          9
48                10        172  1.462124e+06  2  5  3     2-5-3         10
9                  8        171  1.617932e+06  2  4  4     2-4-4         10

In [63]:
#Customers Lost
rfm[(rfm['R']>2)]
#len(rfm[(rfm['R']>2)])

             recency  frequency      monetary  R  F  M rfm_group  rfm_score
_CustomerID
10                15        158  1.580759e+06  1  3  4     1-3-4          8
23                12        164  1.583602e+06  1  4  4     1-4-4          9
24                23        151  1.250650e+06  1  2  1     1-2-1          4
26                11        153  1.353089e+06  1  2  2     1-2-2          5
34                15        176  1.712640e+06  1  5  5     1-5-5         11
37                11        152  1.454027e+06  1  2  3     1-2-3          6
5                 30        159  1.426164e+06  1  3  3     1-3-3          7
50                16        163  1.530633e+06  1  4  4     1-4-4          9